*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;

}

body{
    background: linear-gradient(45deg, #0d0d0d, #00c3ff);
    text-align: center;   
    color: whitesmoke;
    height: 100vh;
}

.calculadora{
    position: absolute;
    background-color: lightblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px;
}

.calculadora h1{
    color: white;
}

#resultado{
    background-color: #00a7ff;
    color: black;
    width: 215px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
}

.botao{
    width: 50px;
    height: 50px;   
    font-size: 25px;
    margin: 3px;
    cursor:pointer;
    border: none;
    
}

.botao:hover{
    background-color: lightseagreen;
}